body {
    background-color: blanchedalmond;
    padding: 20px;
  
    
}
nav {
    border-color: #B59B8A;
    background-color: #B59B8A;
    width: auto;
    position: relative;
    
}

#dropDown {
  font-family: 'Neonderthaw', cursive;
font-family: 'Raleway', sans-serif;
  width: 400px;
  height: 50px;
  font-size: large;
  background-color: #E4D7CC;
}



.Profile {
  height: 165px;
  width: 165x;
  align-items: flex-end;
  justify-content: end;
  position: absolute; 
  top: -60px;
  right: 0%;

}
.Profile:hover {
  
}
  

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 36px;
    align-items: center;
    border-color: #B59B8A;
}
li {
  list-style-type: none;
}
li:hover {
  color: #ffbec0;
}

.Hamburger {
    height: 180px;
    width: 180px;
    align-items: flex-end;
    justify-content: end;
    position: absolute; 
    top: 0%;
    right: 0%;
}
.bluebox {
  background-color: #63818C;
}

.tanbox {
  background-color: #B88E7E;
}

.casestudy {
  
   
    width: 175px;
    height: 65px;
    background-color: #DEA8AA;
    color: black;
    font-size: 24px;
    margin: 145px 0px 50px 50px; 
    
}

.casestudy:hover {
  background-color: #F17A7E;
}


.Outboulder {
    height: 643px;
    width: 919px;
}

img {
    height: 300px;
    padding: 5%;
    justify-content: end;
}

footer {
  /* display: flex;   */
  border-color: #B59B8A;
    background-color: #B59B8A;
    width: auto;
    height: 100px;
    /* align-items: start; */
    justify-content: space-evenly;
    
    
}

@media only screen and (max-width: 1000px) {
    #navigation {
      display: none;
    }
    .icons {
      margin-left: auto;
    }
  }
  @media only screen and (max-width: 600px) {
    #headline {
      position: static;
      margin: 20px;
    }
    }
    #categoryGrid {
      grid-template-rows: 300px 300px ;
      grid-template-columns: 1fr;
      grid-template-areas:
        "userResearch userDesign"
      ;
    }
